In [3]:
import numpy as np
import pandas as pd
import os

In [6]:
os.chdir('/Users/andrewbanks/Projects/supply_chain_app/data')

Examine imports use table

In [7]:
data = pd.read_csv('effects.csv', thousands=',')
data.head()

,product,Intermediate consumption at basic prices,"Use of imported products, cif",Taxes less subsidies on products,Intermediate consumption at purchaser's prices,Compensation of employees,Gross operating surplus and mixed income,Taxes less subsidies on production,Gross value added,Output
0,"Products of agriculture, hunting and related s...",1.005,0.151,0.031,1.188,0.371,0.521,-0.074,0.818,2.005
1,"Products of forestry, logging and related serv...",1.022,0.106,0.031,1.160,0.577,0.281,0.005,0.863,2.022
2,Fish and other fishing products; aquaculture p...,1.071,0.252,0.026,1.349,0.408,0.302,0.011,0.722,2.071
3,Coal and lignite,0.861,0.126,0.016,1.004,0.457,0.426,-0.025,0.858,1.861
4,Extraction Of Crude Petroleum And Natural Gas ...,0.599,0.083,0.010,0.692,0.247,0.653,0.007,0.907,1.599

In [8]:
data.columns.to_list()[1:]

['Intermediate consumption at basic prices',
 'Use of imported products, cif',
 'Taxes less subsidies on products',
 "Intermediate consumption at purchaser's prices",
 'Compensation of employees',
 'Gross operating surplus and mixed income',
 'Taxes less subsidies on production',
 'Gross value added',
 'Output']

In [9]:
# convert wide table to long table
effects = pd.melt(data, 
                     id_vars='product', 
                     value_vars=data.columns.to_list()[1:]).dropna()

effects.shape

(945, 3)

In [10]:
effects.head()

,product,variable,value
0,"Products of agriculture, hunting and related s...",Intermediate consumption at basic prices,1.005
1,"Products of forestry, logging and related serv...",Intermediate consumption at basic prices,1.022
2,Fish and other fishing products; aquaculture p...,Intermediate consumption at basic prices,1.071
3,Coal and lignite,Intermediate consumption at basic prices,0.861
4,Extraction Of Crude Petroleum And Natural Gas ...,Intermediate consumption at basic prices,0.599

In [11]:
# Strip whitespace from start and finish

def space_stripper(x):
    return x.strip()

effects[['product','variable']] = effects[['product','variable']].applymap(lambda x: space_stripper(x))

In [12]:
effects['value'] = effects['value'].astype(float)
effects.head()

,product,variable,value
0,"Products of agriculture, hunting and related s...",Intermediate consumption at basic prices,1.005
1,"Products of forestry, logging and related serv...",Intermediate consumption at basic prices,1.022
2,Fish and other fishing products; aquaculture p...,Intermediate consumption at basic prices,1.071
3,Coal and lignite,Intermediate consumption at basic prices,0.861
4,Extraction Of Crude Petroleum And Natural Gas ...,Intermediate consumption at basic prices,0.599

In [13]:
effects['factor'] = 'total impact'
effects.head()

,product,variable,value,factor
0,"Products of agriculture, hunting and related s...",Intermediate consumption at basic prices,1.005,total impact
1,"Products of forestry, logging and related serv...",Intermediate consumption at basic prices,1.022,total impact
2,Fish and other fishing products; aquaculture p...,Intermediate consumption at basic prices,1.071,total impact
3,Coal and lignite,Intermediate consumption at basic prices,0.861,total impact
4,Extraction Of Crude Petroleum And Natural Gas ...,Intermediate consumption at basic prices,0.599,total impact

In [14]:
data = pd.read_csv('multipliers.csv', thousands=',', nrows=105)
data.tail()

,product,Intermediate consumption at basic prices,"Use of imported products, cif",Taxes less subsidies on products,Intermediate consumption at purchaser's prices,Compensation of employees,Gross operating surplus and mixed income,Gross value added,Output
100,Sports services and amusement and recreation s...,1.737,2.868,1.196,1.757,1.408,1.804,1.506,1.611
101,Services furnished by membership organisations...,1.685,3.747,2.135,1.789,1.406,2.153,1.548,1.647
102,Repair services of computers and personal and ...,1.567,1.584,2.873,1.579,1.390,1.348,1.374,1.447
103,Other personal services,1.533,1.516,1.190,1.499,1.283,1.135,1.180,1.252
104,Services of households as employers of domesti...,.,.,.,.,1.000,.,1.000,1.000

In [15]:
# convert wide table to long table
multipliers = pd.melt(data, 
                     id_vars='product', 
                     value_vars=data.columns.to_list()[1:]).dropna()

multipliers.shape

(840, 3)

In [16]:
# Strip whitespace from start and finish

def space_stripper(x):
    return x.strip()

multipliers[['product','variable']] = multipliers[['product','variable']].applymap(lambda x: space_stripper(x))
multipliers.head()

,product,variable,value
0,"Products of agriculture, hunting and related s...",Intermediate consumption at basic prices,1.769
1,"Products of forestry, logging and related serv...",Intermediate consumption at basic prices,1.803
2,Fish and other fishing products; aquaculture p...,Intermediate consumption at basic prices,1.881
3,Coal and lignite,Intermediate consumption at basic prices,1.678
4,Extraction Of Crude Petroleum And Natural Gas ...,Intermediate consumption at basic prices,1.749

In [17]:
def dotter(x):
    if x=='.' or x=='..':
        return np.nan
    else:
        return x

multipliers = multipliers.applymap(lambda x: dotter(x))
multipliers.head()

,product,variable,value
0,"Products of agriculture, hunting and related s...",Intermediate consumption at basic prices,1.769
1,"Products of forestry, logging and related serv...",Intermediate consumption at basic prices,1.803
2,Fish and other fishing products; aquaculture p...,Intermediate consumption at basic prices,1.881
3,Coal and lignite,Intermediate consumption at basic prices,1.678
4,Extraction Of Crude Petroleum And Natural Gas ...,Intermediate consumption at basic prices,1.749

In [18]:
multipliers['value'] = multipliers['value'].astype(float)
multipliers.head()

,product,variable,value
0,"Products of agriculture, hunting and related s...",Intermediate consumption at basic prices,1.769
1,"Products of forestry, logging and related serv...",Intermediate consumption at basic prices,1.803
2,Fish and other fishing products; aquaculture p...,Intermediate consumption at basic prices,1.881
3,Coal and lignite,Intermediate consumption at basic prices,1.678
4,Extraction Of Crude Petroleum And Natural Gas ...,Intermediate consumption at basic prices,1.749

In [19]:
multipliers['factor'] = 'Ratio of direct to total'
multipliers.head()

,product,variable,value,factor
0,"Products of agriculture, hunting and related s...",Intermediate consumption at basic prices,1.769,Ratio of direct to total
1,"Products of forestry, logging and related serv...",Intermediate consumption at basic prices,1.803,Ratio of direct to total
2,Fish and other fishing products; aquaculture p...,Intermediate consumption at basic prices,1.881,Ratio of direct to total
3,Coal and lignite,Intermediate consumption at basic prices,1.678,Ratio of direct to total
4,Extraction Of Crude Petroleum And Natural Gas ...,Intermediate consumption at basic prices,1.749,Ratio of direct to total

In [20]:
detailed_effects = pd.concat([multipliers,effects])
detailed_effects.to_csv('detailed_effects.csv')

In [24]:
effects_subset = detailed_effects[detailed_effects['product']=='Furniture']
effects_subset.head(40)

,product,variable,value,factor
45,Furniture,Intermediate consumption at basic prices,1.664,Ratio of direct to total
150,Furniture,"Use of imported products, cif",1.588,Ratio of direct to total
255,Furniture,Taxes less subsidies on products,3.923,Ratio of direct to total
360,Furniture,Intermediate consumption at purchaser's prices,1.655,Ratio of direct to total
465,Furniture,Compensation of employees,1.523,Ratio of direct to total
570,Furniture,Gross operating surplus and mixed income,1.831,Ratio of direct to total
675,Furniture,Gross value added,1.608,Ratio of direct to total
780,Furniture,Output,1.633,Ratio of direct to total
45,Furniture,Intermediate consumption at basic prices,0.633,total impact
150,Furniture,"Use of imported products, cif",0.232,total impact
255,Furniture,Taxes less subsidies on products,0.011,total impact
360,Furniture,Intermediate consumption at purchaser's prices,0.876,total impact
465,Furniture,Compensation of employees,0.519,total impact
570,Furniture,Gross operating surplus and mixed income,0.225,total impact
675,Furniture,Taxes less subsidies on production,0.013,total impact
780,Furniture,Gross value added,0.757,total impact
885,Furniture,Output,1.633,total impact

In [22]:
change = 100
component = 'Gross value added'
product = 'Furniture'

total_impact = (effects_subset[(effects_subset['product']==product)&(effects_subset['factor']=='total impact')&(effects_subset['variable']==component)]['value']*change).values[0]

print(total_impact)

75.7

In [27]:
direct_impact = (effects_subset[(effects_subset['product']==product)&(effects_subset['factor']=='Ratio of direct to total')&(effects_subset['variable']==component)]['value']*total_impact).values[0]

direct_impact

121.72560000000001

In [28]:
indirect_impact = total_impact - direct_impact

indirect_impact

-46.02560000000001

In [30]:
effects_subset['direct_value'] = effects_subset['value']*change
effects_subset

/var/folders/9l/qbx4p6vn46ldsb194p852z900000gn/T/ipykernel_18148/2126878731.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  effects_subset['direct_value'] = effects_subset['value']*change

,product,variable,value,factor,direct_value
45,Furniture,Intermediate consumption at basic prices,1.664,Ratio of direct to total,166.4
150,Furniture,"Use of imported products, cif",1.588,Ratio of direct to total,158.8
255,Furniture,Taxes less subsidies on products,3.923,Ratio of direct to total,392.3
360,Furniture,Intermediate consumption at purchaser's prices,1.655,Ratio of direct to total,165.5
465,Furniture,Compensation of employees,1.523,Ratio of direct to total,152.3
570,Furniture,Gross operating surplus and mixed income,1.831,Ratio of direct to total,183.1
675,Furniture,Gross value added,1.608,Ratio of direct to total,160.8
780,Furniture,Output,1.633,Ratio of direct to total,163.3
45,Furniture,Intermediate consumption at basic prices,0.633,total impact,63.3
150,Furniture,"Use of imported products, cif",0.232,total impact,23.2
255,Furniture,Taxes less subsidies on products,0.011,total impact,1.1
360,Furniture,Intermediate consumption at purchaser's prices,0.876,total impact,87.6
465,Furniture,Compensation of employees,0.519,total impact,51.9
570,Furniture,Gross operating surplus and mixed income,0.225,total impact,22.5
675,Furniture,Taxes less subsidies on production,0.013,total impact,1.3
780,Furniture,Gross value added,0.757,total impact,75.7
885,Furniture,Output,1.633,total impact,163.3

In [31]:
detailed_effects2 = pd.concat([multipliers,effects],axis=1)
detailed_effects2.to_csv('detailed_effects2.csv')
detailed_effects2

,product,variable,value,factor,product,variable,value,factor
0,"Products of agriculture, hunting and related s...",Intermediate consumption at basic prices,1.769,Ratio of direct to total,"Products of agriculture, hunting and related s...",Intermediate consumption at basic prices,1.005,total impact
1,"Products of forestry, logging and related serv...",Intermediate consumption at basic prices,1.803,Ratio of direct to total,"Products of forestry, logging and related serv...",Intermediate consumption at basic prices,1.022,total impact
2,Fish and other fishing products; aquaculture p...,Intermediate consumption at basic prices,1.881,Ratio of direct to total,Fish and other fishing products; aquaculture p...,Intermediate consumption at basic prices,1.071,total impact
3,Coal and lignite,Intermediate consumption at basic prices,1.678,Ratio of direct to total,Coal and lignite,Intermediate consumption at basic prices,0.861,total impact
4,Extraction Of Crude Petroleum And Natural Gas ...,Intermediate consumption at basic prices,1.749,Ratio of direct to total,Extraction Of Crude Petroleum And Natural Gas ...,Intermediate consumption at basic prices,0.599,total impact
...,...,...,...,...,...,...,...,...
940,NaN,NaN,NaN,NaN,Sports services and amusement and recreation s...,Output,1.611,total impact
941,NaN,NaN,NaN,NaN,Services furnished by membership organisations,Output,1.647,total impact
942,NaN,NaN,NaN,NaN,Repair services of computers and personal and ...,Output,1.447,total impact
943,NaN,NaN,NaN,NaN,Other personal services,Output,1.252,total impact
944,NaN,NaN,NaN,NaN,Services of households as employers of domesti...,Output,1.000,total impact

In [12]:
import plotly.express as px

fig = px.pie(iot_subset, values='proportion', names='domestic input requirements')
fig.update_traces(textposition='inside')
fig.update_layout(uniformtext_minsize=12, uniformtext_mode='hide')
fig.write_html('second_figure.html', auto_open=True)